<div class="container mt-5">
    <h2>Add Customer</h2>
    <form (ngSubmit)="addCustomer()">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" [(ngModel)]="customer.name" name="name" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" [(ngModel)]="customer.email" name="email" class="form-control" required>
      </div>
      <button type="submit" class="btn btn-primary mt-2 mx-1">Add Customer</button>
      <a routerLink="/" class="btn btn-primary mt-2">Cancel</a>
    </form>
  </div>
  